@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-200;
}

.image-container {
  width: max-content;

  > div {
    position: unset !important;
  }

  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

nav li {
  @apply hover:scale-110 transition-all ease-in-out duration-300;
}

.center {
  @apply flex items-center justify-center;
}
